minecraft/logs/
minecraft/modernfix/
minecraft/saves/
minecraft/XaeroWaypoints*
minecraft/XaeroWorldMap/
minecraft/usercache.json
minecraft/usernamecache.json
minecraft/patchouli_data.json
minecraft/rhino.local.properties
minecraft/simplebackups/
minecraft/blueprints/
minecraft/mod_data/
minecraft/mods/.index/
minecraft/crash-reports/
minecraft/local/
minecraft/fancymenu_data/
